html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: radial-gradient(circle, #0a0a0a 0%, #000 100%);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), 
    url('/img/FondoEnBaja.png') no-repeat center center/cover;
}


/* === CENTRADO GENERAL === */
main {
  min-height: calc(100vh - 120px); /* Resta navbar + footer */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === CARRUSEL === */
.carousel-inner {
  height: auto;
  min-height: 50vh;
  overflow: hidden;
}

.sponsor-img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 350px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  background: #0f0f0f;
  box-shadow: 0 0 25px rgba(213, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

/* === FOOTER === */
footer {
  font-size: 0.9rem;
  color: #999;
  border-top: 1px solid #111;
}

footer a:hover {
  color: #fff !important;
  transform: scale(1.15);
  transition: 0.2s ease;
}

/* === RESPONSIVE === */
@media (max-width: 991px) {
  main {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
  }
  .carousel-inner {
    min-height: 35vh;
  }
  .sponsor-img {
    max-height: 200px;
  }
}

/* Pantallas grandes */
@media (min-width: 1600px) {
  body {
    zoom: 0.9;
  }
  .carousel-inner {
    min-height: 65vh;
  }
  .sponsor-img {
    max-height: 420px;
  }
}

/* Móviles */
@media (max-width: 768px) {
  body {
    display: block;
    overflow-y: auto;
  }
  .container {
    padding-bottom: 120px;
  }
  audio {
    width: 90%;
    max-width: 300px;
    height: 45px;
    margin-bottom: 20px;
  }
  .carousel-inner {
    min-height: 30vh;
  }
  .sponsor-img {
    max-height: 120px;
  }
}
